channel_ids = [
]

patterns = [
    "#реклама",
    "erid:",
    "#партнерский",
    "#партнёрский",
    "записывайтесь",
    "зарегестрируйтесь",
    "подписывайтесь",
    "подписывайся",
    "подпишись",
    "бесплатные курсы",
]
